#forms{
    border: 1px solid;
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ee807d;
}

input::placeholder{
    color: #2e3131 ;
}

#submit, #reset{
    margin: 10px;
}
#cleaner{
    margin: 10px;
}